#root {
  background-color: #fff;
  height: 400px;
  width: 100%
}

img {
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

#title,
#con {
  font-size: 35px;
  color: #000;
  margin-bottom: 20px;
}